@media (max-device-width: 800px) {
 	body{
		font-size: 3em;	
 	}
 	.wizard{
 		margin: 20% 0;
 		width: 100%;
 	}
 	label{
 		font-size: 1.6em;
 	}
 	input[type="checkbox"], input[type="radio"]{
 		height: 50px;
 		width: 50px;
 		
 	}
 	.input{
 		height: 80px;
 		font-size: 1.5em;
 		margin: 10px;
 	}
 	select{
 		height: 80px;
 		font-size: 1em;
 		margin: 10px;
 	}
 	

 	 h1, h2,h3,h4{
 		font-size: 2em;	
 	}
 	footer{
 		padding: 300px 50px 0px 50px;

 	}
 	.btn{
		font-size: 1em;
		height: 50px;
 	}
 	.steps-indicator li a {
     	font-size: 0;
	}
	.steps-indicator li a:before {
		width: 50px;
		height: 50px;
	}

}

/* css general*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	color: black;
}
.placeholder{
	font-weight: bolder;
	color: #fff;
}
.ng-invalid.ng-touched{
	box-shadow: 0 0 4px 1px red;
}
.ng-touched.ng-invalid-validator{
	box-shadow: 0 0 4px 1px red;
}
.btn{
	margin: 20px 0;
}
.par{
	font-size: 1.3em;
	padding: 1%;
}
.par a{
	color: #C9302C;
	font-weight: bolder;
}
.steps-indicator {
  right: 0;
  bottom: 6.3%;
  left: 0;
  height: 100px;
  padding: 0;
  margin: 0 0 100px 0;
  list-style: none;
  position: fixed;
  background: transparent;
  z-index: 1;
}



.preloader{
	left: -9999px;
	top:  -9999px;
	position: absolute;
}
.preloader img {
	display: block;
}
.preloader,.preloader img {
	display: none;
	visibility: hidden;
}
.container{
	background: transparent;
}
.ui-datepicker{
	border-radius: 0;
}
.ui-datepicker-header{
	background: rgba(0,0,0,0.2);
	border-radius: 0;
}
.ui-datepicker-prev,.ui-datepicker-next{
}
.ui-datepicker-calendar tr td a{
	background: rgba(0,0,0,0.2);
}
.ui-datepicker-current-day{
	background:  #C9302C;
	color: white;
}
.steps-indicator li a {
     color: #fff;
    
}
.steps-indicator li a:hover {
  color: #fff;
}
.steps-indicator li.default a:hover {
  color: #000;
}
.steps-indicator li.current a:before {
  background-color: #999999;
}
.steps-indicator:before {
  display: none;
}
.steps-indicator li a:before {
 background-color: #555;
}
.steps-indicator li.done a:before {
  background-color: #C9302C;
}
.steps-indicator li.editing a:before {
  background-color: #fff;
}
.welcome{
	background: rgba(0,0,0,.9);
	margin: 10%;
	padding: 3%;
}
.req{
	color: #C9302C;
}
.req a{
	color: #C9302C;	
}
.req a:hover{
	color: #9E221B;
}
body {
	background: url(../img/grados_back_1.png) fixed;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 23%;
	font-family: 'Dosis', sans-serif;
}
footer{
	position: fixed;
	bottom: 0;
	width: 110%;
	min-height: 23%;
	z-index: 0;
	font-weight: bolder;
	background: rgba(0,0,0,.9);
}
	.btn-warning{
		background: none;
		border-radius: 0;
		border: none;
	    border: 2px solid #EC971F;
	    color: #EC971F;
	    font-weight: bolder;
	    padding: 2px;
	}
	.btn-row{
		position: fixed;
	    bottom: 7%;
	    width: 101.2%;
	    background: transparent;
	    left: 0;
	    z-index: 1;
	}
	.btn{
		background: none;
		border-radius: 0;
		border: none;
	    border: 2px solid #C9302C;
	    color: #C9302C;
	    font-weight: bolder;
	    padding: 2px;
	}


	.wizard{
		background: rgba(0,0,0,.7);
		
		padding: 3%;
	}
	.input{
		background: rgba(255,255,255,.75);
		border-radius: 0;
		border: none;
		color: black;
	}
	select{
		background: rgba(255,255,255,.75);
		border-radius: 0;
		border: none;
		color: black;
	}
	header{
		background: rgba(0,0,0,.5);
	}
@media (min-device-width: 801px) {
	#terminos{
		margin: 5% 0;
		padding: 1.5%;
	}
	
	footer{
		
		padding: 13% 26% .5% 25%;

	}
	.wizard{
		margin: 2px auto;
		max-width: 88%;
	}
	.steps-indicator {
		right: 0;
		bottom: 6.3%;
		left: 0;
		height: 30px;
		padding: 30px;
		margin: 0 0 74px 0;
		list-style: none;
		position: fixed;
		background: transparent;
		z-index: 1;
	}
}
