.preloader{
	position: absolute;
		left: -9999px;
		top:  -9999px;
}
.preloader img {
	display: block;
}
.preloader,.preloader img {
	visibility: hidden;
		display: none;
}

body{
	color: white;
}
.ng-invalid.ng-touched{
	box-shadow: 0 0 4px 1px red;
}
.ng-touched.ng-invalid-validator{
	box-shadow: 0 0 4px 1px red;
}
.btn{
	margin: 20px 0;
}
.par{
	padding: 1%;
	font-size: 1.6em;
}
.par a{
	color: lightblue;
}
#terminos{
	margin: 5% 0;
	padding: 1.5%;
}
header{
	background: rgba(0,0,0,.5);
}
body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.wizard{
	background: rgba(0,0,0,.7);
	max-width: 88%;
	margin: 2px auto;
	padding: 3%;
}
.container{
	background: rgba(255,255,255,.0);
}
.input{
	color: black;
	background: rgba(255,255,255,.75);
	border-radius: 0;
	border: none;
}
select{
	color: black;
	background: rgba(255,255,255,.75);
	border-radius: 0;
	border: none;
}
.btn{
	border-radius: 0;
	border: none;
	background: none;
    padding: 2px;
    border: 2px solid #C9302C;
    color: #C9302C;
    font-weight: bolder;
}
.ui-datepicker{
	border-radius: 0;
}
.ui-datepicker-header{
	border-radius: 0;
	background: rgba(0,0,0,0.2);
}
.ui-datepicker-prev,.ui-datepicker-next{
}
.ui-datepicker-calendar tr td a{
	background: rgba(0,0,0,0.2);
}
.ui-datepicker-current-day{
	color: white;
	background:  #C9302C;
}


