<!-- template 1 datos de la cuenta -->
<div>
	<h2>Datos para tu Cuenta</h2>

	<div>

		<h3>Nombres</h3>

		<div>
			<input name="firstname" type="text" size="20" id="firstname" ng-model="firstname" >
			<span>*</span>
		</div>

		<h3>Apellidos</h3>

		<div>
			<input name="lastname" type="text" size="20" id="lastname" ng-model="lastname" >
			<span>*</span>
		</div>

	</div>

	<div>
		<h3>Correo Electrónico</h3>
		<div>
			<input name="email" type="text" size="30" id="email"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off" ng-model="email" >
			<span>*</span>
		</div>

		<h3>Confirmación de Correo Electrónico</h3>

		<div>
			<input name="confirm" type="text" size="30" id="confirm"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off">
			<span>*</span>
		</div>

	</div>

	<div>
		<h3>Contraseña</h3>
		<div>
			<input name="password" type="text" size="30" maxlength="30" id="password" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off" ng-model="password" >
			<span>*</span>
		</div>
		<h3>Confirmación de Contraseña</h3>
		<input name="confirmPassword" type="text" size="30" id="confirmPassword"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off">
		<span>*</span>
	</div>

	<div>

		<h3>¿Cómo nos encontraste?</h3>
		<div>

			<select name="found" id="found" ng-model="found" >

				<option selected>selecciona...</option>
				<option value="Participante de la Revista Moi">Participante de la Revista Moi</option>
				<option value="Actitud FEM">Actitud FEM</option>
				<option value="Airport Style">Airport Style</option>
				<option value="Alto Nivel">Alto Nivel</option>
				<option value="El Efecto Leopi">El Efecto Leopi</option>
				<option value="El Financiero">El Financiero</option>
				<option value="El Respetable">El Respetable</option>
				<option value="Email">Email</option>
				<option value="Estilo DF">Estilo DF</option>
				<option value="Facebook">Facebook</option>
				<option value="Forbes">Forbes</option>
				<option value="GQ">GQ</option>
				<option value="Google">Google</option>
				<option value="Intrend Magazine">Intrend Magazine</option>
				<option value="Linked In">Linked In</option>
				<option value="Martha Debayle">Martha Debayle</option>
				<option value="Milenio">Milenio</option>
				<option value="Mojoe">Mojoe</option>
				<option value="Moi">Moi</option>
				<option value="Netas Divinas">Netas Divinas</option>
				<option value="Networking Nights">Networking Nights</option>
				<option value="Radio">Radio</option>
				<option value="Recomendacion de un amigo">Recomendacion de un amigo</option>
				<option value="Recomendacion de un socio">Recomendacion de un socio</option>
				<option value="S1ngular">S1ngular</option>
				<option value="Smartbox">Smartbox</option>
				<option value="Soho">Soho</option>
				<option value="Soltera pero No Sola">Soltera pero No Sola</option>
				<option value="Solteros Club">Solteros Club</option>
				<option value="The Box Club">The Box Club</option>
				<option value="Televisión">Televisión</option>
				<option value="Twitter">Twitter</option>
				<option value="Otros">OTROS</option>

			</select>

			<span>*</span>
		</div>

		<h3>Código Promocional o ID de Cuentahabiente</h3>
		<div>
			<input name="PromoCode" id="PromoCode" type="text" size="30" value="" ng-model="promocode" >
		</div>

	</div>
	<button ng-click="main.currStep(2)">Siguiente</button>
</div>