 <div class="panel">
    <div class="titPanel">Estudios y trabajo</div>
    <div class="fila">
      <div class="etiqueta4">Máximo título académico</div>
      <div class="campo1">
        <select name="max_tit_academico" id="max_tit_academico" class="validate['required']">
          <option>Seleccione...</option>
          <option value="Estudios de doctorado">Estudios de doctorado</option>
          <option value="Estudios de maestría">Estudios de maestría</option>
          <option value="Estudios de postgrado">Estudios de postgrado</option>
          <option value="Estudios universitarios">Estudios universitarios</option>
          <option value="Bachillerato general">Bachillerato general</option>
          <option value="Profesional técnico">Profesional técnico</option>
        </select>
        <span class="requerido">*</span></div>
      <div class="etiqueta2">Institución</div>
      <div class="campo2">
        <input type="text" name="institucion_educativa" id="institucion_educativa" class="validate['required']"/>
        <span class="requerido">*</span></div>
    </div>
    <div class="fila">
      <div class="etiqueta">Profesión</div>
      <div class="campo">
        <select name="profesion" id="profesion" class="validate['required']" onChange="profe()">
          <option>Seleccione...</option>
          <option value="Empleado (a)">Empleado (a)</option>
          <option value="Empresario (a)">Empresario (a)</option>
          <option value="Independiente">Independiente</option>
          <option value="Burócrata">Burócrata</option>
          <option value="Pensionado (a)">Pensionado (a)</option>
          <option value="Desempleado (a)">Desempleado (a)</option>
          <option value="Ejecutivo (a)">Ejecutivo (a)</option>
          <option value="Gerente">Gerente</option>
          <option value="Director (a)">Director (a)</option>
          <option value="otra">Otra...</option>
        </select>
        <span class="requerido">*</span></div>
    </div>
    <div class="fila">
      <div class="etiqueta4">Indica brevemente tu actividad laboral</div>
      <div class="campo">
        <input name="actividad_laboral" type="text" class="validate['required']" id="actividad_laboral" size="48"/>
        <span class="requerido">*</span></div>
    </div>
    <div class="fila">
      <div class="etiqueta">Sector</div>
      <div class="campo">
        <select name="sector" id="sector" class="validate['required']">
          <option>Seleccione...</option>
          <option value="Agricultura/Pesca/Servicios forestales/Cuidado de animales">Agricultura/Pesca/Servicios forestales/Cuidado de animales</option>
          <option value="Alta dirección">Alta dirección</option>
          <option value="Arte / Diseño / Entretenimiento">Arte / Diseño / Entretenimiento </option>
          <option value="Automóviles / Partes automotrices">Automóviles / Partes automotrices </option>
          <option value="Bienes raíces">Bienes raíces </option>
          <option value="Biotecnología / Farmacéutica ">Biotecnología / Farmacéutica </option>
          <option value="Ciencias e investigación ">Ciencias e investigación </option>
          <option value="Comercio / Ventas ">Comercio / Ventas </option>
          <option value="Comunidad/Servicios sociales/Religión/Proyectos no lucrativos ">Comunidad/Servicios sociales/Religión/Proyectos no lucrativos </option>
          <option value="Construcción / Minería / Obreros especializados ">Construcción / Minería / Obreros especializados </option>
          <option value="Control de calidad y seguridad ">Control de calidad y seguridad </option>
          <option value="Diseño gráfico / Interiores / Modas ">Diseño gráfico / Interiores / Modas </option>
          <option value="Educación, cuidado infantil / Librerías ">Educación, cuidado infantil / Librerías </option>
          <option value="Finanzas / Contabilidad / Seguros ">Finanzas / Contabilidad / Seguros </option>
          <option value="Gobierno">Gobierno </option>
          <option value="Hotelería / Turismo ">Hotelería / Turismo </option>
          <option value="Industria manufacturera ">Industria manufacturera </option>
          <option value="Ingeniería/arquitectura ">Ingeniería/arquitectura </option>
          <option value="Instalación, mantenimiento y reparaciones ">Instalación, mantenimiento y reparaciones </option>
          <option value="Joyería ">Joyería </option>
          <option value="Labores administrativas y de oficina ">Labores administrativas y de oficina </option>
          <option value="Labores generales ">Labores generales </option>
          <option value="Legal ">Legal </option>
          <option value="Medios / periodismo / impresión / Servicios editoriales ">Medios / periodismo / impresión / Servicios editoriales </option>
          <option value="Mercadotecnia / publicidad / RP / Desarrollo de negocios ">Mercadotecnia / publicidad / RP / Desarrollo de negocios </option>
          <option value="Operación / logística / Almacenaje ">Operación / logística / Almacenaje </option>
          <option value="Recreación / deportes ">Recreación / deportes </option>
          <option value="Recursos humanos ">Recursos humanos </option>
          <option value="Restaurantes / Gastronomía ">Restaurantes / Gastronomía </option>
          <option value="Servicio a clientes ">Servicio a clientes </option>
          <option value="Servicios arreglo personal / Seguridad / Esparcimiento ">Servicios arreglo personal / Seguridad / Esparcimiento </option>
          <option value="Servicios de protección / Seguridad ">Servicios de protección / Seguridad </option>
          <option value="Servicios de salud / medicina ">Servicios de salud / medicina </option>
          <option value="Software / sistemas de información / Desarrollo de hardware ">Software / sistemas de información / Desarrollo de hardware </option>
          <option value="Tecnología de la información ">Tecnología de la información </option>
          <option value="Transportes / Mudanzas de materiales ">Transportes / Mudanzas de materiales </option>
          <option value="Ventas / Servicio a clientes ">Ventas / Servicio a clientes </option>
        </select>
        <span class="requerido">*</span></div>
    </div>
  </div>