<div class="panel">
    <div class="titPanel">Fotografía</div>
    <div class="fila">
      <div class="etiqueta">Seleccione...</div>
      <div class="campo7">
        <input id="photo" type="file" container_id="0" name="photo" accept="image/*" onChange="entrev()"/>
        <p><span class="consejo">Se acepta formato JPG o PNG<br />
          <strong><span style="color:#ff3333">El tamaño no debe ser mayor a 5Mb</span></strong><br/>
          Te recordamos que tu información e imagen son exclusivamente de uso interno de Seis Grados y ten la tranquilidad que ninguno de los usuarios tendrá acceso a nuestro banco de imágenes, las cuales únicamente le ayudan a tu Head Hunter Social a reconocerte el día de tu entrevista.</span></p>
      </div>
    </div>
    <div class="fila">
      <div class="etiqueta">Buenas fotos</div>
      <div class="campo1"><img src="/images/fotos-ok.jpg" /></div>
    </div>
    <div class="fila">
      <div class="etiqueta">Se rechazarán las siguientes fotos</div>
      <div class="campo1"><img src="/images/fotos-ko.jpg" /></div>
    </div>
  </div>