<div>
	<h3>Fotografía</h3>
	<div>
		<h4>Seleccione...</h4>
		<div>
			<input id="photo" type="file" container_id="0" name="photo" accept="image/*" />
			<p>Se acepta formato JPG o PNG</p>
			<p>
				<strong>
					<span style="color:#ff3333">El tamaño no debe ser mayor a 5Mb</span>
				</strong>
			</p>
			<p>
			Te recordamos que tu información e imagen son exclusivamente de uso interno de Seis Grados y ten la tranquilidad que ninguno de los usuarios tendrá acceso a nuestro banco de imágenes, las cuales únicamente le ayudan a tu Head Hunter Social a reconocerte el día de tu entrevista.
			</p>
		</div>
	</div>


	<div>
		<p>Buenas fotos</p>
		<div><img src="" /></div>
	</div>
	<div>
		<p>Se rechazarán las siguientes fotos</p>
		<div><img src="" /></div>
	</div>
	<button ng-click="main.currStep(5)">Anterior</button>
	<button ng-click="main.currStep(1)">Enviar</button>
</div>