<div>

	<h2>Referente a tu membresía</h2>

	<div>
		<p>Debido a que nuestro servicio es Personalizado, Confidencial y Exclusivo, te pedimos que selecciones la Membresía que te gustaría adquirir el día de la Entrevista con tu Head Hunter Social:
		</p> 
	</div>

	<div>

		<h3>¿Qué tipo de membresía te interesa? <span>*</span></h3>
		<div>
			<h4>Membresía 3 Grados <input type="radio" name="tipo_membresia" id="radioTipoE" value="3Grados" /></h4>
			<div>
				<p>Incluye:</p>
				<ul>
				<li>3 Encuentros Inteligentes </li>
				<li>Entrevista Personal de 60 Minutos con una Head Hunter Social</li>
				<li>120 Minutos de Asesoría Personal o Virtual en temas de Comunicación e Imagen</li>
				<li>1 Encuentro Adicional</li>
				<li>Feedback de las fortalezas y debilidades en tus encuentros al final de tu proceso</li>
				</ul>
				<p>Costo: $3,900 MN (+ IVA) </p>
			</div>
		</div>




		<div>
			<h4>Membresía 6 Grados<input type="radio" name="tipo_membresia" id="radioTipoE" value="6Grados" /></h4>
			<div>
				<p>Incluye:</p>
				<ul>
					<li>6 Encuentros Inteligentes</li>
					<li>Entrevista Personal de 60 minutos con una Head Hunter Social</li>
					<li>120 Minutos de asesoría Personal o virtual en temas de Comunicación e Imagen</li>
					<li>2 Encuentros Adicionales</li>
					<li>Feedback de las fortalezas y debilidades en tus encuentros a la mitad de tu proceso</li>
					<li>Feedback de las fortalezas y debilidades en tus encuentros al final de tu proceso</li>
					<li>Un Acceso VIP al Evento Social de Seis Grados</li>
				</ul>
				<p>Costo: $5,900 MN (+ IVA) </p>
			</div>
		</div>

	</div>

	<div>
		<p>En breve nos comunicaremos contigo vía telefónica, por lo que te solicitamos nos ayudes con tu disponibilidad de horario para que en la medida de lo posible podamos apegarnos al tiempo que tienes disponible. ¡Gracias!
		</p>
		<div>
			<h4>Opción 1</h4>
			<div>
				<h5>Días:</h5>
				<input name="dia_lu_1" id="dia_lu_1" type="checkbox" value="Lunes,"/>
				Lu
				<input name="dia_ma_1" id="dia_ma_1" type="checkbox" value="Martes,"/>
				Ma
				<input name="dia_mi_1" id="dia_mi_1" type="checkbox" value="Miércoles,"/>
				Mi
				<input name="dia_ju_1" id="dia_ju_1" type="checkbox" value="Jueves,"/>
				Ju
				<input name="dia_vi_1" id="dia_vi_1" type="checkbox" value="Viernes,"/>
				Vi
				<input name="dia_sa_1" id="dia_sa_1" type="checkbox" value="Sábado,"/>
				Sa
				<input name="dia_do_1" id="dia_do_1" type="checkbox" value="Domingo,"/>
				Do 
			</div>


			<h5>Hora desde:</h5>

			<select name="hora_entrevista_ini1" id="hora_entrevista_ini1" size="1">
				<option>Seleccione...</option>
				<option value="8am">8am</option>
				<option value="9am">9am</option>
				<option value="10am">10am</option>
				<option value="11am">11am</option>
				<option value="12pm">12pm</option>
				<option value="1pm">1pm</option>
				<option value="2pm">2pm</option>
				<option value="3pm">3pm</option>
				<option value="4pm">4pm</option>
				<option value="5pm">5pm</option>
				<option value="6pm">6pm</option>
				<option value="7pm">7pm</option>
				<option value="8pm">8pm</option>
			</select>

			<span>*</span>

			<h5>hasta:</h5>

			<select name="hora_entrevista_fin1" id="hora_entrevista_fin1" size="1">
				<option>Seleccione...</option>
				<option value="9am">9am</option>
				<option value="10am">10am</option>
				<option value="11am">11am</option>
				<option value="12pm">12pm</option>
				<option value="1pm">1pm</option>
				<option value="2pm">2pm</option>
				<option value="3pm">3pm</option>
				<option value="4pm">4pm</option>
				<option value="5pm">5pm</option>
				<option value="6pm">6pm</option>
				<option value="7pm">7pm</option>
				<option value="8pm">8pm</option>
				<option value="9pm">9pm</option>
			</select>
			<span>*</span>
			<input type="hidden" name="entrevista_opc1" id="entrevista_opc1" value=""/></td>
		</div>

	</div>

	<div>
		<h4>Opción 2</h4>
		<h5> Días:</h5>
		<div>
			<input name="dia_lu_2" id="dia_lu_2" type="checkbox" value="Lunes,"  />
			Lu
			<input name="dia_ma_2" id="dia_ma_2" type="checkbox" value="Martes,"  />
			Ma
			<input name="dia_mi_2" id="dia_mi_2" type="checkbox" value="Miércoles,"  />
			Mi
			<input name="dia_ju_2" id="dia_ju_2" type="checkbox" value="Jueves,"  />
			Ju
			<input name="dia_vi_2" id="dia_vi_2" type="checkbox" value="Viernes,"  />
			Vi
			<input name="dia_sa_2" id="dia_sa_2" type="checkbox" value="Sábado,"  />
			Sa
			<input name="dia_do_2" id="dia_do_2" type="checkbox" value="Domingo,"  />
			Do 
		</div>


		<div>
			<h5>Hora desde:</h5>
				<select name="hora_entrevista_ini2" id="hora_entrevista_ini2" size="1">
					<option>Seleccione...</option>
					<option value="8am">8am</option>
					<option value="9am">9am</option>
					<option value="10am">10am</option>
					<option value="11am">11am</option>
					<option value="12pm">12pm</option>
					<option value="1pm">1pm</option>
					<option value="2pm">2pm</option>
					<option value="3pm">3pm</option>
					<option value="4pm">4pm</option>
					<option value="5pm">5pm</option>
					<option value="6pm">6pm</option>
					<option value="7pm">7pm</option>
					<option value="8pm">8pm</option>
				</select>
			<span>*</span> 
			<h5>hasta:</h5>
				<select name="hora_entrevista_fin2" id="hora_entrevista_fin2" size="1">
					<option>Seleccione...</option>
					<option value="9am">9am</option>
					<option value="10am">10am</option>
					<option value="11am">11am</option>
					<option value="12pm">12pm</option>
					<option value="1pm">1pm</option>
					<option value="2pm">2pm</option>
					<option value="3pm">3pm</option>
					<option value="4pm">4pm</option>
					<option value="5pm">5pm</option>
					<option value="6pm">6pm</option>
					<option value="7pm">7pm</option>
					<option value="8pm">8pm</option>
					<option value="9pm">9pm</option>
				</select>
			<span>*</span>
		</div>
		<input type="hidden" name="entrevista_opc2" id="entrevista_opc2" value=""/>
	</div>

	

</div>