<!-- template 2 Datos personales-->
<div>

	<h2>Datos Personales</h2>

	<div>

		<div>
			<h3>Edad</h3>

			<div>
				<select name="age" id="age">
					<option selected>edad</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					<option value="32">32</option>
					<option value="33">33</option>
					<option value="34">34</option>
					<option value="35">35</option>
					<option value="36">36</option>
					<option value="37">37</option>
					<option value="38">38</option>
					<option value="39">39</option>
					<option value="40">40</option>
					<option value="41">41</option>
					<option value="42">42</option>
					<option value="43">43</option>
					<option value="44">44</option>
					<option value="45">45</option>
					<option value="46">46</option>
					<option value="47">47</option>
					<option value="48">48</option>
					<option value="49">49</option>
					<option value="50">50</option>
					<option value="51">51</option>
					<option value="52">52</option>
					<option value="53">53</option>
					<option value="54">54</option>
					<option value="55">55</option>
					<option value="56">56</option>
					<option value="57">57</option>
					<option value="58">58</option>
					<option value="59">59</option>
					<option value="60">60</option>
					<option value="61">61</option>
					<option value="62">62</option>
					<option value="63">63</option>
					<option value="64">64</option>
					<option value="65">65</option>
				</select>
				<span>*</span>
			</div>
		</div>

		<div>
			<h3>Género</h3>

			<div>
				<select name="sexo" id="sexo">
					<option selected>Género...</option>
					<option value="femenino">femenino</option>
					<option value="masculino">masculino</option>
				</select>
				<span>*</span>
			</div>
		</div>

		<div>
			<h3>Estatura</h3>

			<div>
				<select name="estatura">
					<option>Estatura...</option>
					<option value="1.50 o menos">1.50 o menos</option>
					<option value="1.51">1.51</option>
					<option value="1.52">1.52</option>
					<option value="1.53">1.53</option>
					<option value="1.54">1.54</option>
					<option value="1.55">1.55</option>
					<option value="1.56">1.56</option>
					<option value="1.57">1.57</option>
					<option value="1.58">1.58</option>
					<option value="1.59">1.59</option>
					<option value="1.60">1.60</option>
					<option value="1.61">1.61</option>
					<option value="1.62">1.62</option>
					<option value="1.63">1.63</option>
					<option value="1.64">1.64</option>
					<option value="1.65">1.65</option>
					<option value="1.66">1.66</option>
					<option value="1.67">1.67</option>
					<option value="1.68">1.68</option>
					<option value="1.69">1.69</option>
					<option value="1.70">1.70</option>
					<option value="1.71">1.71</option>
					<option value="1.72">1.72</option>
					<option value="1.73">1.73</option>
					<option value="1.74">1.74</option>
					<option value="1.75">1.75</option>
					<option value="1.76">1.76</option>
					<option value="1.77">1.77</option>
					<option value="1.78">1.78</option>
					<option value="1.79">1.79</option>
					<option value="1.80">1.80</option>
					<option value="1.81">1.81</option>
					<option value="1.82">1.82</option>
					<option value="1.83">1.83</option>
					<option value="1.84">1.84</option>
					<option value="1.85">1.85</option>
					<option value="1.86">1.86</option>
					<option value="1.87">1.87</option>
					<option value="1.88">1.88</option>
					<option value="1.89">1.89</option>
					<option value="1.90">1.90</option>
					<option value="1.91">1.91</option>
					<option value="1.92">1.92</option>
					<option value="1.93">1.93</option>
					<option value="1.94">1.94</option>
					<option value="1.95">1.95</option>
					<option value="1.96">1.96</option>
					<option value="1.97">1.97</option>
					<option value="1.98">1.98</option>
					<option value="1.99">1.99</option>
					<option value="2.00">2.00</option>
					<option value="2.01">2.01 o más</option>
				</select>
				<span>*</span>
			</div>
		</div>

		<div>	
			<h3>Peso</h3>

			<div>

				<select name="peso">
					<option>Peso...</option>
					<option value="35 o menos">35 o menos</option>
					<option value="36">36</option>
					<option value="37">37</option>
					<option value="38">38</option>
					<option value="39">39</option>
					<option value="40">40</option>
					<option value="41">41</option>
					<option value="42">42</option>
					<option value="43">43</option>
					<option value="44">44</option>
					<option value="45">45</option>
					<option value="46">46</option>
					<option value="47">47</option>
					<option value="48">48</option>
					<option value="49">49</option>
					<option value="50">50</option>
					<option value="51">51</option>
					<option value="52">52</option>
					<option value="53">53</option>
					<option value="54">54</option>
					<option value="55">55</option>
					<option value="56">56</option>
					<option value="57">57</option>
					<option value="58">58</option>
					<option value="59">59</option>
					<option value="60">60</option>
					<option value="61">61</option>
					<option value="62">62</option>
					<option value="63">63</option>
					<option value="64">64</option>
					<option value="65">65</option>
					<option value="66">66</option>
					<option value="67">67</option>
					<option value="68">68</option>
					<option value="69">69</option>
					<option value="70">70</option>
					<option value="71">71</option>
					<option value="72">72</option>
					<option value="73">73</option>
					<option value="74">74</option>
					<option value="75">75</option>
					<option value="76">76</option>
					<option value="77">77</option>
					<option value="78">78</option>
					<option value="79">79</option>
					<option value="80">80</option>
					<option value="81">81</option>
					<option value="82">82</option>
					<option value="83">83</option>
					<option value="84">84</option>
					<option value="85">85</option>
					<option value="86">86</option>
					<option value="87">87</option>
					<option value="88">88</option>
					<option value="89">89</option>
					<option value="90">90</option>
					<option value="91">91</option>
					<option value="92">92</option>
					<option value="93">93</option>
					<option value="94">94</option>
					<option value="95">95</option>
					<option value="96">96</option>
					<option value="97">97</option>
					<option value="98">98</option>
					<option value="99">99</option>
					<option value="100 o más">100 o más</option>
				</select>
				<span>*</span>
			</div>
		</div>

		<div>
			<h3>Teléfono</h3>

			<div>
				<select name="tel1_tipo" id="tel1_tipo">
					<option selected>tipo...</option>
					<option value="casa">casa</option>
					<option value="trabajo">trabajo</option>
					<option value="celular">celular</option>
					<option value="nextel">nextel</option>
				</select>

				<input id="lada"  value="LADA" name="lada" type="text" size="2" maxlength="3">
				<span>*</span>
				<input id="phone"  value="Teléfono" name="phone" type="text" size="9" maxlength="8">
				<span>*</span></div>
			</div>
		</div>
		
		<div>
			<h3>Vivo en Estado</h3>

			<div>
				<select name="estado" size="1">
					<option>Seleccione...</option>
					<option value="Aguascalientes">Aguascalientes</option>
					<option value="Baja California ">Baja California </option>
					<option value="Baja California Sur ">Baja California Sur </option>
					<option value="Campeche ">Campeche </option>
					<option value="Chiapas ">Chiapas </option>
					<option value="Chihuahua ">Chihuahua </option>
					<option value="Coahuila ">Coahuila </option>
					<option value="Colima ">Colima </option>
					<option value="Distrito Federal">Distrito Federal</option>
					<option value="Durango ">Durango </option>
					<option value="Estado de México ">Estado de México </option>
					<option value="Guanajuato ">Guanajuato </option>
					<option value="Guerrero ">Guerrero </option>
					<option value="Hidalgo ">Hidalgo </option>
					<option value="Jalisco ">Jalisco </option>
					<option value="Michoacán ">Michoacán </option>
					<option value="Morelos ">Morelos </option>
					<option value="Nayarit ">Nayarit </option>
					<option value="Nuevo León ">Nuevo León </option>
					<option value="Oaxaca ">Oaxaca </option>
					<option value="Puebla ">Puebla </option>
					<option value="Querétaro ">Querétaro </option>
					<option value="Quintana Roo ">Quintana Roo </option>
					<option value="San Luis Potosí ">San Luis Potosí </option>
					<option value="Sinaloa ">Sinaloa </option>
					<option value="Sonora ">Sonora </option>
					<option value="Tabasco ">Tabasco </option>
					<option value="Tamaulipas ">Tamaulipas </option>
					<option value="Tlaxcala ">Tlaxcala </option>
					<option value="Veracruz ">Veracruz </option>
					<option value="Yucatán ">Yucatán </option>
					<option value="Zacatecas">Zacatecas</option>
				</select>
				<span>*</span>
			</div>
		</div>

		<div>
			<h3>Ciudad</h3>

			<div>
				<input name="ciudad" type="text" id="ciudad" size="20" />
				<span>*</span>
			</div>
		</div>
		
		<div>
			<h3>Delegación o Municipio</h3>

			<div>
				<input name="cp" type="text" id="cp" size="20" />
			</div>
		</div>		

		<div>
			<h3>Mi Estado civil</h3>

			<div>
				<select name="estadi_civil" id="estadi_civil">
					<option selected>Selecciona..</option>
					<option value="Soltero (a)">Soltero (a)</option>
					<option value="Divorciado (a)">Divorciado (a)</option>
					<option value="En proceso de divorcio">En proceso de divorcio</option>
					<option value="Separado (a)">Separado (a)</option>
					<option value="Viudo (a)">Viudo (a)</option>
				</select>
			</div>
		</div>

		<div>
			<h3>¿Tienes hijos?</h3>

			<div>
				<p>
					<input name="posesion_hijos" type="radio" id="radio"  value="si">
					Sí
					<input name="posesion_hijos" type="radio" id="radio2" value="no" checked="checked">
					No 
					<span>*</span>
				</p>
			</div>
		</div>
		
		<div>
			<h3>¿Cuantos?</h3>

			<div>
				<select name="cuantosHijos">
					<option selected>Selecciona...</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="Más de 3">Más de 3</option>
				</select>
			</div>
		</div>

		<div>
			<h3>Teléfono Adicional</h3>

			<div>
				<select name="tel2_tipo" id="tel2_tipo">
					<option selected>tipo...</option>
					<option value="casa">casa</option>
					<option value="trabajo">trabajo</option>
					<option value="celular">celular</option>
					<option value="nextel">nextel</option>
				</select>
			
				<input id="lada2" name="lada2" value="LADA" type="text" size="2" maxlength="3" onblur="if(this.value == ''){ this.value = 'LADA'; this.style.color = '#BBB';}" onfocus="if(this.value == 'LADA'){ this.value = ''; this.style.color = '#000';}">
				<span>*</span>
				<input id="phone2"  value="Teléfono" name="phone2" type="text" size="9" maxlength="8" onblur="if(this.value == ''){ this.value = 'Teléfono'; this.style.color = '#BBB';}" onfocus="if(this.value == 'Teléfono'){ this.value = ''; this.style.color = '#000';}">
				<span>*</span>&nbsp; <span>Debe ser distinto del que ingresaste más arriba</span></div>
			</div>
		</div>

		<div>
			<h3>Correo Electrónico Adicional</h3>

			<div>
				<input name="email2" type="text" size="30" id="email2"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off">
				<span>*</span>
			</div>
		</div>
		
		<div>
			<h3>Confirmación de Correo Electrónico Adicional</h3>

			<div>
				<input name="email2confirma" type="text" size="30" id="email2confirma" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off">
				<span>*</span>
			</div>
		</div>
		
		<div>
			<h3>Usuario de Facebook</h3>
			
			<div>
				<input name="usuario_fb" type="text" size="20" maxlength="30" id="usuario_fb">
			</div>
		</div>

		<div>
			<h3>Usuario de Twitter</h3>

			<div>
				<input name="usuario_twitter" type="text" size="20" maxlength="30" id="usuario_twitter">
			</div>
		</div>
		<button ng-click="main.currStep(1)">Anterior</button>
		<button ng-click="main.currStep(3)">Siguiente</button>
</div>